/************************** RESET... */
$bqg-dark:'test';
$bqg-color-dark: #16487A;
$bqg-color-dark2X: #0d365d;
$bqg-color-dark3X: #062F58;
$bqg-color-dark4X: #081f2d;
$bqg-color-dark5X: #021221;

$bqg-color-accent-A: #571C1F;

$bqg-color-accent-B: #73AFB7;
$bqg-color-accent-B2X: #2D7E9E;
$bqg-color-accent-B3X: #08678D;

$bqg-color-light: #ffffff;
$bqg-color-light2X: #f2f9ff;
$bqg-color-light3X: #eaf1f7;
$bqg-color-light4X: #ddebf7;
$bqg-color-light5X: #c8e5ff;
$bqg-color-light6X: #a6bed4; // TODO: may not need, may be able to use colorNotie
$bqg-color-light7X: #5482AC;

$bqg-color-gray: #f4f4f4; // Usage example: alternating lit
$bqg-color-gray2X: #e5e5e5; // Usage example: alternating lit
$bqg-color-gray3X: #d1d1d1;
$bqg-color-gray4X: #b3b3b3;
$bqg-color-gray5X: #898181;
$bqg-color-gray10X: #191919;

$bqg-color-cta: #99A816;

$bqg-color-important: #D26060;
$bqg-color-attention: #F65F11;
$bqg-color-attention2: #b51041;
$bqg-color-notice: #1079cc;
$bqg-color-positive: #1ea700; //#4F9B48 TODO: this green is from the financial aid view, maybe should e

$bqg-color-conditions-overlay: rgba(143, 193, 55, .95);
$bqg-color-dark-shadow: rgba(13, 20, 43, .25);
$bqg-color-dark-overlay15: rgba(22, 72, 122, 0.15);
$bqg-color-dark-overlay60: rgba(22,72,122,0.6);

$bqg-color-white10: rgba(255, 255, 255, .1);
$bqg-color-white20: rgba(255, 255, 255, .2);

$bqg-color-black20: rgba(0, 0, 0, .2);
$bqg-color-black75: rgba(0, 0, 0, .75);

$bqg-grade-attention: #7d36b2;
//
$bqg-grade-1: #54278f;
$bqg-grade-2: #756bb1;
$bqg-grade-3: #9e9ac8;
$bqg-grade-4: #bcbddc;
$bqg-grade-5: #dadaeb;
//
//
//$bq-primary-dark: #106c92;
//$bq-primary: #2891bd; // used
//$bq-primary-saturated: #00abff; // used
//$bq-primary-light: #86ccff; // used sparingly
//$bq-primary-white: #cfeaff; // used sparingly

//$bqg-grade-attention: #0391ff;
//
//$bqg-grade-1: #002b56;
//$bqg-grade-1: #004284;
//$bqg-grade-1: #0059a5;
//$bqg-grade-1: #007bcb;
//$bqg-grade-2: #00abff;
//$bqg-grade-3: #72cdff;
//$bqg-grade-4: #aee2ff;

$bqg-color-attention-contrast: #f3c7ad;