//@include keyframes(smallBounce) {
//    0% { top: 0px; }
//    50% { top: -3px; }
//    80% { top: 0px; }
//    90% { top: -2px; }
//    100% { top: 0px; }
//}
//
//@include keyframes(smallBounceFromBottom) {
//    0% { bottom: 0px; }
//    30% { bottom: -10px; }
//    100% { bottom: 0px; }
//}
//
//@include keyframes(fade-in) {
//    0% { opacity: 0; }
//    100% { opacity: 1; }
//}
//
//@include keyframes(left-double-bounce-side-button) {
//  0% {right: -10px;}
//  30% {right: 0;}
//  60% {right: -10px;}
//  80% {right: -6px;}
//  100% {right: -10px;}
//}

/**
  This will create an animation prop, the keyframes associated with it, and include
  any other css you need for the using selector.  It allows you to make something opaque while
  growing to a specific height.  Nice for letting things fade in.

  it requires a name, the height to grow to in pixels, and the props to create the animation def
  usage example: animateOpacityToHeight(financial-aid-details-title, 28px, .2s forwards linear)
 */

@mixin animateOpacityToHeight($name, $height, $props) {
  $animationName: #{$name + "-animateOpacityToHeight"};
  $animationNameCollapsed: #{$name + "-animateOpacityToHeight-collapse"};

  @content;

  &.aoh-expanded {
    @include animation(#{$animationName $props});
    @include keyframes(#{$animationName}) {
      0% {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
      }
      75% {
        height: $height;
      }
      76% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        height: $height;
      }
    }
  }

  &.aoh-collapsed {
    @include animation(#{$animationNameCollapsed $props});
    @include keyframes(#{$animationNameCollapsed}) {
      0% {
        opacity: 1;
        height: $height;
      }
      1% {
        opacity: 0;
      }
      16% {
        height: $height;
      }
      100% {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
      }
    }
  }
}


.no-opacity-no-height {
  @include animation(no-opacity-no-height .2s forwards linear);
}

.replace-opacity-and-height {
  @include animation(no-opacity-no-height .2s forwards linear);
}

@include keyframes(animate-top-to-zero) {
  0% {
    top: auto;
  }
  90% {
    top: -8px
  }
  92% {
    top: -10px
  }
  94% {
    top: -8px
  }
  100% {
    top: 0
  }
}


@include keyframes(no-opacity-no-height) {
  0% {
    opacity: 1;
    height: auto;
  }
  15% {
    opacity: 0;
  }
  16% {
    height: auto;
  }
  100% {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

@include keyframes(fade-in-and-unblur) {
  0%{
    opacity: 0;
    filter: blur(1px);
    @include transform(scale(.95, .95));
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    @include transform(scale(1, 1));
  }
}