
/* This variable's relative path is from the /styles/ directory */

$base-path : "../";
$image-path : "#{$base-path}images/";
$font-path : "#{$base-path}fonts/";
$theme-path : "#{$base-path}custom/theme/";

/* roster animation */
$expand-animation-speed: .3s;

/* height of the header at the top of most BlueQuill related pages */
$headerHeight: 42px;

