.bqd-checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;

  * {
    box-sizing: border-box;
  }

  .bqd-checkbox {
    position: relative;
    background-color: white;
    box-shadow: 0 0 4px $gray-transparent-25;;
    cursor: pointer;
    border: 1px solid $gray-light;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    &.large {
      height: 1.2rem;
      width: 1.2rem;

      &::after {
        height: .7rem;
        width: .7rem;
      }
    }
    
    &.small {
      height: .95rem;
      width: .95rem;

      &::after {
        height: .45rem;
        width: .45rem;
      }
    }

    
    &::after {
      transform-origin: center center;
      @include transition(all .05s linear);
      position: absolute;
      background-color: $bq-primary-darker;
      content: '';
      display: inline-block;
    }
  }

  input[type="checkbox"] {
    display: none;

    /** Controls which checkbox appears **/
    &:checked {
      &~ .bqd-checkbox::after{
        @include transform(scale(1, 1));
      }
    }

    &:not(:checked) {
      &~ .bqd-checkbox::after{
        @include transform(scale(0, 0));
      }
    }
  }

  label {
    position: relative;
    margin: 0 5px;
  }
}