.bqd-cta-color {
  color: $bqg-color-cta !important;
}

.bqd-attention-color {
  color: $bqg-color-attention !important;
}

.bqd-error-color {
  color: $bqg-color-important !important;
}

.bqd-notice-color {
  color: $bqg-color-notice !important;
}

.bqd-accent-b-color-dark {
  color: $bqg-color-accent-B2X !important;
}

.bqd-white-color {
  color: white !important;
}

/* BACKGROUND CLASSES */
.bqd-background-dark {
  background-color: $bqg-color-dark3X;
}

.bqd-background-attention {
  background-color: $bqg-color-attention;
}